In [1]:
import pandas as pd

In [2]:
creditDf = pd.read_csv("credits.csv")

In [3]:
keywordDf = pd.read_csv("keywords.csv")

In [4]:
linkDf = pd.read_csv("links_small.csv")

In [5]:
movieDf = pd.read_csv("movies_metadata.csv", low_memory=False)

In [6]:
ratingDf = pd.read_csv("ratings_small.csv")

In [7]:
creditDf

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [8]:
keywordDf

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [9]:
linkDf

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]

In [10]:
movieDf

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [11]:
ratingDf

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [12]:
movieDf.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [13]:
langs = movieDf['original_language'].unique()
subsets = {}

for lang in langs:
    tmp = movieDf[movieDf['original_language'] == lang]
    subsets[lang] = tmp

In [14]:
subsets.keys()

dict_keys(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru', 'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy', 'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo', 'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo', 'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv', 'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms', 'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt', '82.0', 'hy', 'iu', 'lb', 'si'])

In [15]:
merge1 = pd.concat?

In [ ]:
merge1 = pd.concat

In [16]:
merge1 = pd.concat

In [17]:
merge1 = pd.concat([subsets['en'], subsets['fr']])

In [18]:
merge1

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0

In [19]:
merge2 = pd.concat([subsets['en'], subsets['eu']])

In [20]:
merge2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0
27655,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,258049,tt0145528,eu,Ama lur,"Ama Lur is a documentary, directed by Néstor B...",...,1968-07-10,0.0,103.0,"[{'iso_639_1': 'eu', 'name': 'euskera'}, {'iso...",Released,NaN,Mother Earth,False,0.0,0.0
32635,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.loreakfilm.com/en/,260313,tt3900206,eu,Loreak,Ane is in her mid-forties and delighted when a...,...,2014-10-10,0.0,99.0,"[{'iso_639_1': 'eu', 'name': 'euskera'}, {'iso...",Released,They're Just Flowers,Flowers,False,6.7,22.0
38684,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",NaN,158009,tt0242599,eu,La leyenda del viento del norte,"To get his hands on a valuable pod of whales, ...",...,1992-07-02,0.0,69.0,"[{'iso_639_1': 'eu', 'name': 'euskera'}]",Released,NaN,The Legend of the North Wind,False,5.0,1.0

In [21]:
movieDf.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [22]:
movieDf.rename(columns={'id': 'movieId'}, inplace=True)

In [23]:
movieDf['movieId'] = pd.to_numeric(movieDf['movieId'], errors='coerce')

In [24]:
meanRatingDf = ratingDf.groupby(by = 'movieId')['rating'].mean()

In [31]:
movieDf = movieDf.join(other=meanRatingDf, on='movieId')

In [35]:
movieDf.sort_values(by = 'rating', inplace= True)

In [36]:
movieDf

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,rating
20563,False,NaN,0,[],NaN,70121.0,tt0248803,en,First Target,The Secret Service attempts to prevent an elab...,...,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,First Target,False,1.3,3.0,0.5
34380,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,88950.0,tt0074080,en,'Gator Bait,Desiree lives deep in the swamp and supports h...,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"UNTAMED AND DEADLY, she ruled the swamp with a...",'Gator Bait,False,6.5,2.0,0.5
23175,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,48591.0,tt0009893,de,Die Austernprinzessin,A pampered American oyster tycoon decides to b...,...,0.0,60.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Oyster Princess,False,7.4,11.0,0.5
11443,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,54910.0,tt0479965,en,Off the Black,"An aging, disillusioned alcoholic (Nick Nolte)...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Off the Black,False,6.0,1.0,0.5
3425,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,27857.0,tt0093776,en,Prick Up Your Ears,Stephen Frears directs this biographical drama...,...,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Prick Up Your Ears,False,6.1,27.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050.0,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109.0,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,NaN
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758.0,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN
45464,False,NaN,0,[],NaN,227506.0,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,NaN
45465,False,NaN,0,[],NaN,461257.0,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,NaN

In [37]:
transposed = movieDf.T

In [38]:
transposed

,20563,34380,23175,11443,3425,3890,35629,3366,158,4026,...,45456,45457,45458,45459,45460,45461,45462,45463,45464,45465
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,0,0,0,0,0,13000000,0,4653000,53000000,35000000,...,0,0,0,0,0,0,0,0,0,0
genres,[],"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 18, 'name': 'Drama'}]","[{'id': 18, 'name': 'Drama'}]","[{'id': 35, 'name': 'Comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 37, 'name': 'Western'}]","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",...,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...","[{'id': 27, 'name': 'Horror'}]","[{'id': 878, 'name': 'Science Fiction'}]","[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 18, 'name': 'Drama'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],[]
homepage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt6209470/,NaN,NaN,NaN,NaN
movieId,70121.0,88950.0,48591.0,54910.0,27857.0,8859.0,66066.0,6644.0,8963.0,7093.0,...,84419.0,390959.0,289923.0,222848.0,30840.0,439050.0,111109.0,67758.0,227506.0,461257.0
imdb_id,tt0248803,tt0074080,tt0009893,tt0479965,tt0093776,tt0242423,tt0443352,tt0061619,tt0112740,tt0190861,...,tt0038621,tt0265736,tt0252966,tt0112613,tt0102797,tt6209470,tt2028550,tt0303758,tt0008536,tt6980792
original_language,en,en,de,en,en,en,en,en,en,en,...,en,en,en,en,en,fa,tl,en,en,en
original_title,First Target,'Gator Bait,Die Austernprinzessin,Off the Black,Prick Up Your Ears,"Dude, Where’s My Car?",Verlengd Weekend,El Dorado,Crimson Tide,Vatel,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,رگ خواب,Siglo ng Pagluluwal,Betrayal,Satana likuyushchiy,Queerama
overview,The Secret Service attempts to prevent an elab...,Desiree lives deep in the swamp and supports h...,A pampered American oyster tycoon decides to b...,"An aging, disillusioned alcoholic (Nick Nolte)...",Stephen Frears directs this biographical drama...,"Jesse and Chester, two bumbling stoners, wake ...",Businessman Christian Vandenheuvel planned to ...,"Cole Thornton, a gunfighter for hire, joins fo...","On a US nuclear missile sub, a young first off...","In 1671, with war brewing with Holland, a penn...",...,An unsuccessful sculptor saves a madman named ...,"In this true-crime documentary, we delve into ...",A film archivist revisits the story of Rustin ...,It's the year 3000 AD. The world's most danger...,"Yet another version of the classic epic, with ...",Rising and falling between a man and woman.,An artist struggles to finish his work while a...,"When one of her hits goes wrong, a professiona...","In a small town live two brothers, one a minis...",50 years after decriminalisation of homosexual...
popularity,0.734755,0.908897,0.352892,0.708427,3.328585,10.890236,0.08521,7.070669,8.657365,2.516301,...,0.222814,0.076061,0.38645,0.661558,5.683753,0.072051,0.178241,0.903007,0.003503,0.163015
poster_path,/7IPvtHfrhjECoZt9YJDIrI4vhWU.jpg,/1cDs39BQM8DGe5YliSr5F4GuGT5.jpg,/lFKnqQOQSIZPrGnOvpEu7GrCtZm.jpg,/vDqpN3eGI27pgDCfD5Ug7Wqg3W6.jpg,/fSg0MPWzAgHFIEE740PJQEh814w.jpg,/3KoZiWlgvmeDYiLk9oOMpEvZThb.jpg,/gu1aMfo8vBrtXTuO7EIDV7uwTtA.jpg,/jnbUOe6dAXK4Hs6dhYgvmdr5CbO.jpg,/oDJyDX11HW4j565vUjmFagKxDTQ.jpg,/cxd0iV2DzZsqICOgIftFSlPPTpB.jpg,...,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
production_companies,[],"[{'name': 'Sebastian Films Limited', 'id': 426...","[{'name': 'Projektions-AG Union (PAGU)', 'id':...","[{'name': 'Forensic Films', 'id': 2813}]","[{'name': 'civilhand', 'id': 4721}]",[{'name': 'Twentieth Century Fox Film Corporat...,[],"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'name': 'Canal Plus', 'id': 104}]",...,"[{'name': 'Universal Pictures', 'id': 33}]",[],"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'name': 'American World Pictures', 'id': 6165}]","[{'name': 'Yermoliev', 'id': 88753}]",[]
production_countries,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
release_date,2000-01-01,1974-06-01,1919-06-16,2006-12-08,1987-04-17,2000-12-15,2005-10-12,1966-12-17,1995-05-12,2000-05-01,...,1946-03-29,2000-10-22,2000-10-03,1995-01-01,1991-05-13,NaN,2011-11-17,2003-08-01,1917-10-21,2017-06-09
revenue,0.0,0.0,0.0,0.0,0.0,73180723.0,0.0,6000000.0,157387195.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
runtime,93.0,88.0,60.0,90.0,111.0,83.0,93.0,120.0,116.0,125.0,...,65.0,45.0,30.0,85.0,104.0,90.0,360.0,90.0,87.0,75.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'xx', 'name': 'No Language'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'nl', 'name': 'Nederlands'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'fa', 'name': 'فارسی'}]","[{'iso_639_1': 'tl', 'name': ''}]","[{'iso_639_1': 'en', 'name': 'English'}]",[],"[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,NaN,"UNTAMED AND DEADLY, she ruled the swamp with a...",NaN,NaN,NaN,"After a night they can't remember, comes a day...",Two ex-factory workers hijack their former man...,It's The Big One With The Big Two!,Danger runs deep.,Some men are too noble to live among aristocracy.,...,Meet...The CREEPER!,NaN,"Do you know what happened 50 years before ""The...",NaN,NaN,Rising and falling between a man and woman,NaN,A deadly game of wits.,NaN,NaN
title,First Target,'Gator Bait,The Oyster Princess,Off the Black,Prick Up Your Ears,"Dude, Where’s My Car?",Verlengd Weekend,El Dorado,Crimson Tide,Vatel,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Subdue,Century of Birthing,Betrayal,Satan Triumphant,Queerama
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,1.3,6.5,7.4,6.0,6.1,5.3,5.0,7.2,7.0,6.0,...,6.3,7.0,7.0,3.5,5.7,4.0,9.0,3.8,0.0,0.0
vote_count,3.0,2.0,11.0,1.0,27.0,523.0,2.0,96.0,508.0,32.0,...,8.0,2.0,1.0,1.0,26.0,1.0,3.0,6.0,0.0,0.0
rating,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
movieDf.insert(0, 'ids', range(movieDf.shape[0]))

In [44]:
melted = movieDf.melt(id_vars='ids', var_name='Metric', value_name='value')

In [45]:
melted

           ids  Metric  value
0            0   adult  False
1            1   adult  False
2            2   adult  False
3            3   adult  False
4            4   adult  False
...        ...     ...    ...
1136645  45461  rating    NaN
1136646  45462  rating    NaN
1136647  45463  rating    NaN
1136648  45464  rating    NaN
1136649  45465  rating    NaN

[1136650 rows x 3 columns]

In [48]:
wide = pd.pivot(data=melted, index='ids', columns='Metric', values='value')

In [50]:
wide.columns.name = None

In [57]:
wide.reset_index(inplace=True)

In [58]:
wide

,ids,adult,belongs_to_collection,budget,genres,homepage,imdb_id,movieId,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,NaN,0,[],NaN,tt0248803,70121.0,en,First Target,...,2000-01-01,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,First Target,False,1.3,3.0
1,1,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0074080,88950.0,en,'Gator Bait,...,1974-06-01,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"UNTAMED AND DEADLY, she ruled the swamp with a...",'Gator Bait,False,6.5,2.0
2,2,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0009893,48591.0,de,Die Austernprinzessin,...,1919-06-16,0.0,60.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Oyster Princess,False,7.4,11.0
3,3,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0479965,54910.0,en,Off the Black,...,2006-12-08,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Off the Black,False,6.0,1.0
4,4,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0093776,27857.0,en,Prick Up Your Ears,...,1987-04-17,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Prick Up Your Ears,False,6.1,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,tt6209470,439050.0,fa,رگ خواب,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2028550,111109.0,tl,Siglo ng Pagluluwal,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0303758,67758.0,en,Betrayal,...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,45464,False,NaN,0,[],NaN,tt0008536,227506.0,en,Satana likuyushchiy,...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,45465,False,NaN,0,[],NaN,tt6980792,461257.0,en,Queerama,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0